@mixin flex ($flex, $content) { 
    display: $flex;
    justify-content: $content;

}

@mixin animation ($animation, $duration) {
    animation: $animation;
    animation-duration: $duration; 

}


 